
<div class ="container ">
    <h1 class="text-center">Bienvenido al mercado WEB, seleccione sus productos</h1>
    <div class="row justify-content-center col-1 col-md-3">
        {{> producto}}
    </div>
    
</div>