
<div class ="container ">
    <h1 class="text-center mt-3">Bienvenido al mercado WEB, seleccione sus productos</h1>
    <div class="row justify-content-center row-col-1 row-col-md-3">
        {{> producto}}
    </div>
    
</div>