
<div class ="container ">
    <h1 class="text-center mt-3">Bienvenido al mercado WEB, seleccione sus productos</h1>
    <div class="row justify-content-center col-1 col-md-3">
       {{#each productos}}
        <h3>producto</h3>
           {{> producto}}
        {{/each}}
    </div>
    
</div>