<nav class="navbar bg-body-success" >
  <div class="container">
    <a class="navbar-brand" href="#">
        <i class="fa-solid fa-cart-arrow-down text-align-center"></i>
        <span class="text-align-center">Come Sano, Come Fresco SpA</span>
    </a>
  </div>
</nav>