<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
<link rel="stylesheet" href="/bootstrap-css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/fe10503835.js" crossorigin="anonymous"></script>


    <title>Come Sano, Come Fresco SpA</title>
</head>
<body>
    {{> menu}}
    {{> dashboard}}
</body>
</html>